@import 'variables.css';

* {
  padding: 0;
  margin: 0;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(
    var(--teal),
    var(--mediumBlue),
    var(--purple),
    var(--dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  padding: 1rem 2rem;
}

nav a,
nav button i {
  color: var(--dark);
}

nav ul {
  display: none;
}

nav ul li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav button {
  height: 40%;
  border: none;
  background-color: transparent;
}

nav button i {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  nav button {
    display: none;
  }

  nav ul {
    display: flex;
  }
}
