{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/chatroom.css') }}"
/>
{% endblock %} {% block body %} {% block nav %}{{ super() }}{% endblock %}
<section id="chatroom-page">
  <div id="name-and-rooms-column">
    <div id="name-container">
      <h2>Choose anonymous name</h2>
      <input
        type="text"
        id="name"
        placeholder="Hello, {{ user_name }}!"
        required=""
      />

      <button id="set-name-button" type="submit" onclick="setName()">
        Set
      </button>
    </div>

    <h2>Rooms</h2>
    <div id="rooms">
      <div id="create-room">
        <h2>Create room</h2>
        <form action="{{ url_for('channel_creation') }}" method="POST">
          <div>
            <label for="recipient-name">Channel name</label>
            <input type="text" name="channel" id="recipient-name" required />
          </div>
          <div>
            <label for="message-text">Description</label>
            <textarea name="description" id="message-text" required></textarea>
          </div>
          <!-- Sending hidden parameter so that we can know that which channel is belongs to which user -->
          <input type="hidden" name="u_id" value="{{ user_id }}" />
          <button onclick="off()" type="submit">Create</button>
        </form>
        <button onclick="off()">close</button>
      </div>

      <button onclick="on()" id="create-room-button">
        <i class="fas fa-plus-circle"></i> Create room
      </button>
      <ul>
        {% for channel in channels %}
        <li>
          <i class="far fa-comments"></i>
          <a href="{{ url_for('channel', channel_id=channel.id) }}">
            <span>{{ channel.channel }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div id="chatroom-container">
    <h2>
      Connected to
      <span id="room">{{ flack }}{{ channel_name }}</span>
    </h2>

    <div id="message">
      <!-- Messages will appear here-->
      <div id="pop">
        <h3>Enter <span>{{ flack }}{{ channel_name }}</span></h3>
        <p>{{ channel_decription }}</p>
        <button id="enter">Enter</button>
      </div>
    </div>
    <div id="message-bar-container">
      <!-- Message sending bar -->
      <input type="text" id="task1" placeholder="Send Message..." />
      <button type="submit" id="send" disabled>
        <i class="far fa-paper-plane"></i>
      </button>
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/socket.io.min.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/index.js') }}"
></script>
{% endblock %}
