{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row sideBar">
            <div class="col-md-6 pt-5">
                <h1 style="margin-top: 10%;text-align: center; font-size: 100px;" class="animated bounceIn">Flack</h1>
                <h3 style="text-align: center;" class="animated pulse delay-2s">An anonymous messaging service</br><span
                        class="text-danger">beta version</span></h3>
            </div>
            <div class="col-md-6 animated bounceIn delay-1s">
                <div class="box">
                    <h2>Login</h2>
                    {% with messages = get_flashed_messages() %}
                       {% if messages %}
                          {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                          {% endfor %}
                       {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="inputBox">
                            <input type="text" name="username" autocomplete="off" required="">
                            <label for="stuff" class="fas fa-envelope input-icon"> Username</label>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" autocomplete="off" required="">
                            <label for="stuff" class="fas fa-lock input-icon"> password</label>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <button class="login-btn" type="submit">Login</button>
                            <a href="{{ url_for('public') }}">Continue As a guest</a>
                        </div>
                        
                        <p style="color: white;text-align: center;" class="mt-4">Don't have an account <a
                                href="{{ url_for('signup') }}">Sign up</a> here.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
