{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row sideBar">
            <div class="box">
                <h2>Sign Up</h2>
                <form action="{{ url_for('signup') }}" method="POST">
                    <div class="inputBox">
                        <input type="text" name="username" autocomplete="off" required="">
                        <label for="stuff" class="fas fa-user input-icon"> Username</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="email" autocomplete="off" required="">
                        <label for="stuff" class="fas fa-envelope input-icon"> Email</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" autocomplete="off" required="">
                        <label for="stuff" class="fas fa-lock input-icon"> password</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="c_password" autocomplete="off" required="">
                        <label for="stuff" class="fas fa-lock input-icon">confirm password</label>
                    </div>
                    <input type="submit" name="" value="Sign up">
                    <p style="color: white;text-align: center;" class="mt-4">Already have an account<a
                            href="{{ url_for('login') }}"> Login here.</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}