<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!--CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- jQuery library -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- Popper JS -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Latest compiled JavaScript -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <!-- Font css -->
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div id="sideBar">
      <!--logo-->
      <div id="logoHome">Flack</div>
       <h4><span id="username" class="font_style">{{ user_name }}!</span></h4><br><br>
       <i class="fas fa-search point" style="font-size:20px;" data-toggle="modal" data-target="#exampleModalCenter0"> Search room</i>
        
        <br><br>
        <h5 class="font_style">Your Rooms</h5>
        {% for channel in channels %}
          <p class="font_style">
            <a href="{{ url_for('channel', channel_id=channel.id) }}">
              >> {{ channel.channel }}
            </a>
          </p>
        {% endfor %}
        <h5 class="font_style point" data-toggle="modal" data-target="#exampleModalCenter">+ Create Room</h5><br>
        <h5 class="font_style point"><a href="{{ url_for('logout') }}">logout</a></h5>
    </div>
    <!-- Modal Start -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Create channel</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('channel_creation') }}" method="POST">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Channel name</label>
                      <input type="text" name="channel" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description</label>
                      <textarea class="form-control" name="description" id="message-text"></textarea>
                    </div>
                    <!-- Sending hidden parameter so that we can know that which channel is belongs to which user -->
                    <input type="hidden" name="u_id" value="{{ user_id }}">
                </div>
                <div class="modal-footer">
                  <button type="sumbit"  class="btn btn-secondary">Create</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
                </form>
                </div>
              </div>
            </div>
          </div>
         <!-- Modal End -->
         <!-- Modal Start -->
          <div class="modal fade" id="exampleModalCenter0" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Serach channel</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="#" method="POST">
                    <div class="form-group">
                      <label for="search" class="col-form-label">Channel name</label>
                      <input type="text" name="search" class="form-control" id="search">
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="sumbit"  class="btn btn-secondary">Search</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
                </form>
                </div>
              </div>
            </div>
          </div>
         <!-- Modal End -->
    <div id="homeBar">
      <center><h5 class="font_style">You are connected to<span id="room">{{ flack }}{{ channel_name }}</span> room , Say Hi !</h5></center>
    </div>

    <div id="message" class="scroll_y">
      {% for m in mm%}
      {{ m }}
      {% endfor%}
    </div>
    <div id="messageTypeField">
      <input class="ipt" id="task1" type="text" placeholder="Type here...">
      <button class="btna" id="send">send</button>
    </div>
    <div id="channel_info">
      <div class="channel_img">
        
      </div>
      <div class="channel_description">
        
      </div>
    </div>
</body>
</html>